.DS_Store
build/*
*.pbxuser
!default.pbxuser
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
Pods
.ruby-version
Carthage/Build/
Carthage/Checkouts/
.LSOverride
.DS_Store
*.swp

fabric.apikey
fabric.buildsecret
OnionBrowser/version.h

Resources/credits.html
Resources/geoip
Resources/geoip6

# metadata containing sensitive data
fastlane/metadata/review_information
fastlane/metadata/trade_representative_contact_information

fastlane/Preview.html
fastlane/README.md
fastlane/report.xml
