.DS_Store
build/*
*.pbxuser
!default.pbxuser
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
Pods
.ruby-version
Carthage/Build/
.LSOverride
.DS_Store
*.swp
Iobfs4proxy.framework/
Iobfs4proxy.framework.tar.xz

fabric.apikey
fabric.buildsecret
Endless/DonationViewController.h
Endless/DonationViewController.m
