#github "iCepa/Tor.framework" "e89aa869097688f3bb173f02106d1b19b468bbf7"
#github "iCepa/Tor.framework" "master"
#github "mtigas/Tor.framework" "openssl-1.0.X-compat"
github "mtigas/Tor.framework" "5899d67074d8a2d9e86cfb5206e9a78b10b0f2b2"
