<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DuckDuckGo</key>
	<dict>
		<key>search_url</key>
		<string>https://duckduckgogg42xjoc72x3sjasowoarfbgcmvfimaftt6twagswzczad.onion/?q=%@</string>
		<key>homepage_url</key>
		<string>https://duckduckgogg42xjoc72x3sjasowoarfbgcmvfimaftt6twagswzczad.onion/</string>
		<key>autocomplete_url</key>
		<string>https://duckduckgogg42xjoc72x3sjasowoarfbgcmvfimaftt6twagswzczad.onion/ac/?type=list&amp;q=%@</string>
	</dict>
	<key>DuckDuckGo HTML</key>
	<dict>
		<key>search_url</key>
		<string>https://duckduckgogg42xjoc72x3sjasowoarfbgcmvfimaftt6twagswzczad.onion/html?q=%@</string>
		<key>homepage_url</key>
		<string>https://duckduckgogg42xjoc72x3sjasowoarfbgcmvfimaftt6twagswzczad.onion/html</string>
		<key>autocomplete_url</key>
		<string>https://duckduckgogg42xjoc72x3sjasowoarfbgcmvfimaftt6twagswzczad.onion/ac/?type=list&amp;q=%@</string>
	</dict>
	<key>DuckDuckGo Lite</key>
	<dict>
		<key>search_url</key>
		<string>https://duckduckgogg42xjoc72x3sjasowoarfbgcmvfimaftt6twagswzczad.onion/lite?q=%@</string>
		<key>homepage_url</key>
		<string>https://duckduckgogg42xjoc72x3sjasowoarfbgcmvfimaftt6twagswzczad.onion/lite</string>
		<key>autocomplete_url</key>
		<string>https://duckduckgogg42xjoc72x3sjasowoarfbgcmvfimaftt6twagswzczad.onion/ac/?type=list&amp;q=%@</string>
	</dict>
	<key>Google</key>
	<dict>
		<key>search_url</key>
		<string>https://www.google.com/search?q=%@</string>
		<key>homepage_url</key>
		<string>https://www.google.com/</string>
		<key>autocomplete_url</key>
		<string>https://www.google.com/complete/search?client=firefox&amp;q=%@</string>
	</dict>
	<key>Startpage</key>
	<dict>
		<key>search_url</key>
		<string>https://startpage.com/do/search</string>
		<key>homepage_url</key>
		<string>https://startpage.com/</string>
		<key>autocomplete_url</key>
		<string>https://startpage.com/do/suggest?format=plain</string>
		<key>post_params</key>
		<dict>
			<key>query</key>
			<string>%@</string>
		</dict>
	</dict>
</dict>
</plist>
