<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>DefaultValue</key>
			<string>DuckDuckGo</string>
			<key>Values</key>
			<array>
				<string>DuckDuckGo</string>
				<string>Google</string>
			</array>
			<key>Titles</key>
			<array>
				<string>DuckDuckGo</string>
				<string>Google</string>
			</array>
			<key>Key</key>
			<string>search_engine</string>
			<key>Title</key>
			<string>Search Engine</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>send_dnt</string>
			<key>Title</key>
			<string>Send Do-Not-Track</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
