<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>User Interface</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>If blank, the default Onion Browser page will be used</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Custom home page</string>
			<key>Key</key>
			<string>homepage</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string>http://3heens4xbedlj57xwcggjsdglot7e36p4rogy642xokemfo2duh6bbyd.onion/</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Security</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>When enabled, a per-host option to ignore further TLS errors is shown in the TLS error dialog</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>allow_tls_error_ignore</string>
			<key>Title</key>
			<string>Allow ignoring TLS errors</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
