<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>*.bbb.org</key>
	<string>Better Business Bureau (partial)</string>
	<key>*.reddit.com</key>
	<string>Reddit</string>
	<key>*.redditmedia.com</key>
	<string>Reddit</string>
	<key>bbb.org</key>
	<string>Better Business Bureau (partial)</string>
	<key>bbbonline.org</key>
	<string>Better Business Bureau (partial)</string>
	<key>bbbsilicon.org</key>
	<string>Better Business Bureau (partial)</string>
	<key>hurdman.app.bbb.org</key>
	<string>Better Business Bureau (partial)</string>
	<key>labbb.org</key>
	<string>Better Business Bureau (partial)</string>
	<key>reddit.com</key>
	<string>Reddit</string>
	<key>www.*.bbb.org</key>
	<string>Better Business Bureau (partial)</string>
	<key>www.bbbonline.org</key>
	<string>Better Business Bureau (partial)</string>
	<key>www.bbbsilicon.org</key>
	<string>Better Business Bureau (partial)</string>
	<key>www.labbb.org</key>
	<string>Better Business Bureau (partial)</string>
	<key>www.redditstatic.com</key>
	<string>Reddit</string>
	<key>blog.lenovo.com</key>
	<string>Lenovo (partial)</string>
	<key>checkout.lenovo.com</key>
	<string>Lenovo (partial)</string>
	<key>consumersupport.lenovo.com</key>
	<string>Lenovo (partial)</string>
	<key>download.lenovo.com</key>
	<string>Lenovo (partial)</string>
	<key>forum.lenovo.com</key>
	<string>Lenovo (partial)</string>
	<key>forums.lenovo.com</key>
	<string>Lenovo (partial)</string>
	<key>lenovo.co.uk</key>
	<string>Lenovo (partial)</string>
	<key>lenovo.com</key>
	<string>Lenovo (partial)</string>
	<key>lenovovision.com</key>
	<string>Lenovo (partial)</string>
	<key>news.lenovo.com</key>
	<string>Lenovo (partial)</string>
	<key>outlet.lenovo.com</key>
	<string>Lenovo (partial)</string>
	<key>ovp.lenovo.com</key>
	<string>Lenovo (partial)</string>
	<key>s.lenovo.com</key>
	<string>Lenovo (partial)</string>
	<key>shop.lenovo.com</key>
	<string>Lenovo (partial)</string>
	<key>social.lenovo.com</key>
	<string>Lenovo (partial)</string>
	<key>support.lenovo.com</key>
	<string>Lenovo (partial)</string>
	<key>thinkpad.com</key>
	<string>Lenovo (partial)</string>
	<key>www.lenovo.co.uk</key>
	<string>Lenovo (partial)</string>
	<key>www.lenovo.com</key>
	<string>Lenovo (partial)</string>
	<key>www.lenovovision.com</key>
	<string>Lenovo (partial)</string>
	<key>www.partnerinfo.lenovo.com</key>
	<string>Lenovo (partial)</string>
	<key>www.thinkpad.com</key>
	<string>Lenovo (partial)</string>
</dict>
</plist>
