<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Better Business Bureau (partial)</key>
	<dict>
		<key>ruleset</key>
		<dict>
			<key>exclusion</key>
			<array>
				<dict>
					<key>pattern</key>
					<string>^http://(?:www\.)?dc\.</string>
				</dict>
				<dict>
					<key>pattern</key>
					<string>http://(?:www\.)?seflorida\.</string>
				</dict>
			</array>
			<key>name</key>
			<string>Better Business Bureau (partial)</string>
			<key>platform</key>
			<string>mixedcontent</string>
			<key>rule</key>
			<array>
				<dict>
					<key>from</key>
					<string>^https?://(?:www\.)?la\.?bbb\.org/</string>
					<key>to</key>
					<string>https://www.labbb.org/</string>
				</dict>
				<dict>
					<key>from</key>
					<string>^http://bbb\.org/</string>
					<key>to</key>
					<string>https://www.bbb.org/</string>
				</dict>
				<dict>
					<key>from</key>
					<string>^http://(?:www\.)?([\w\-]+)\.bbb\.org/</string>
					<key>to</key>
					<string>https://$1.bbb.org/</string>
				</dict>
				<dict>
					<key>from</key>
					<string>^http://hurdman\.app\.bbb\.org/</string>
					<key>to</key>
					<string>https://hurdman.app.bbb.org/</string>
				</dict>
				<dict>
					<key>from</key>
					<string>^https?://(?:www\.)?bbbonline\.org/cks\.asp\?id=(\d+)</string>
					<key>to</key>
					<string>https://www.bbb.org/us/bbb-online-business/?id=$1</string>
				</dict>
				<dict>
					<key>from</key>
					<string>^http://(www\.)?bbbsilicon\.org/</string>
					<key>to</key>
					<string>https://$1bbbsilicon.org/</string>
				</dict>
				<dict>
					<key>from</key>
					<string>^https?://(?:www\.)?sanjose\.bbb\.org/</string>
					<key>to</key>
					<string>https://bbbsilicon.org/</string>
				</dict>
			</array>
			<key>securecookie</key>
			<array>
				<dict>
					<key>host</key>
					<string>^.*\.bbb\.org$</string>
					<key>name</key>
					<string>.*</string>
				</dict>
				<dict>
					<key>host</key>
					<string>^(.*\.)?bbbsilicon\.org$</string>
					<key>name</key>
					<string>.*</string>
				</dict>
				<dict>
					<key>host</key>
					<string>^www\.labbb\.org$</string>
					<key>name</key>
					<string>.*</string>
				</dict>
			</array>
			<key>target</key>
			<array>
				<dict>
					<key>host</key>
					<string>bbb.org</string>
				</dict>
				<dict>
					<key>host</key>
					<string>hurdman.app.bbb.org</string>
				</dict>
				<dict>
					<key>host</key>
					<string>*.bbb.org</string>
				</dict>
				<dict>
					<key>host</key>
					<string>www.*.bbb.org</string>
				</dict>
				<dict>
					<key>host</key>
					<string>bbbonline.org</string>
				</dict>
				<dict>
					<key>host</key>
					<string>www.bbbonline.org</string>
				</dict>
				<dict>
					<key>host</key>
					<string>bbbsilicon.org</string>
				</dict>
				<dict>
					<key>host</key>
					<string>www.bbbsilicon.org</string>
				</dict>
				<dict>
					<key>host</key>
					<string>labbb.org</string>
				</dict>
				<dict>
					<key>host</key>
					<string>www.labbb.org</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Reddit</key>
	<dict>
		<key>ruleset</key>
		<dict>
			<key>name</key>
			<string>Reddit</string>
			<key>rule</key>
			<array>
				<dict>
					<key>from</key>
					<string>^http://((?:[a-z]{1,2}|[a-z]{2}-[a-z]{2}|blog|pay|redditama|ssl|static|www)\.)?reddit\.com/</string>
					<key>to</key>
					<string>https://$1reddit.com/</string>
				</dict>
				<dict>
					<key>from</key>
					<string>^http://(?:www\.)?np\.reddit\.com/</string>
					<key>to</key>
					<string>https://np.reddit.com/</string>
				</dict>
				<dict>
					<key>from</key>
					<string>^http://thumbs\.reddit\.com/</string>
					<key>to</key>
					<string>https://s3.amazonaws.com/thumbs.reddit.com/</string>
				</dict>
				<dict>
					<key>from</key>
					<string>^http://(\w+\.)?thumbs\.redditmedia\.com/</string>
					<key>to</key>
					<string>https://$1thumbs.redditmedia.com/</string>
				</dict>
				<dict>
					<key>from</key>
					<string>^http://www\.redditstatic\.com/</string>
					<key>to</key>
					<string>https://www.redditstatic.com/</string>
				</dict>
			</array>
			<key>securecookie</key>
			<array>
				<dict>
					<key>host</key>
					<string>.*\.reddit\.com$</string>
					<key>name</key>
					<string>.+</string>
				</dict>
				<dict>
					<key>host</key>
					<string>^\.redditmedia\.com$</string>
					<key>name</key>
					<string>^__cfduid$</string>
				</dict>
			</array>
			<key>target</key>
			<array>
				<dict>
					<key>host</key>
					<string>reddit.com</string>
				</dict>
				<dict>
					<key>host</key>
					<string>*.reddit.com</string>
				</dict>
				<dict>
					<key>host</key>
					<string>*.redditmedia.com</string>
				</dict>
				<dict>
					<key>host</key>
					<string>www.redditstatic.com</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Lenovo (partial)</key>
	<dict>
		<key>ruleset</key>
		<dict>
			<key>exclusion</key>
			<array>
				<dict>
					<key>pattern</key>
					<string>^http://www\.lenovo\.com/(?:support|training)/</string>
				</dict>
				<dict>
					<key>pattern</key>
					<string>http://shop\.lenovo\.com/\w\w/\w\w/services-warranty(?:$|\?|/)</string>
				</dict>
				<dict>
					<key>pattern</key>
					<string>^http://outlet\.lenovo\.com/(?!.+/images/|.+/js/|.+/seutil\.workflow:LoadCombinedResource|ISS_Static/|SEUILibrary/)</string>
				</dict>
				<dict>
					<key>pattern</key>
					<string>^http://(?:www\.)?lenovo\.co\.uk/(?!$)</string>
				</dict>
				<dict>
					<key>pattern</key>
					<string>^http://(?:blog|consumersupport|news|ovp|www\.partnerinfo|social)\.lenovo\.com/</string>
				</dict>
			</array>
			<key>name</key>
			<string>Lenovo (partial)</string>
			<key>rule</key>
			<array>
				<dict>
					<key>from</key>
					<string>^http://(?:www\.)?lenovo\.co\.uk/$</string>
					<key>to</key>
					<string>https://www.lenovo.com/uk/en/</string>
				</dict>
				<dict>
					<key>from</key>
					<string>^http://(?:www\.)?lenovo\.com/depotstatus/?$</string>
					<key>to</key>
					<string>https://download.lenovo.com/lenovo/content/vru/depotstatus.html</string>
				</dict>
				<dict>
					<key>from</key>
					<string>^http://(?:www\.)?lenovo\.com/friendsandfamily/?$</string>
					<key>to</key>
					<string>https://shop.lenovo.com/SEUILibrary/controller/Lenovo:EnterStdAffinity?affinity=lenovofamily&amp;ConfigContext=StdAffinityPortal</string>
				</dict>
				<dict>
					<key>from</key>
					<string>^http://(?:(?:www\.)?lenovo\.com/link/redirect\.www\.lenovo\.com/)?(?:www\.)?thinkpad\.com/.*</string>
					<key>to</key>
					<string>https://www.lenovo.com/us/en/?cid=SEO-thinkpadcom</string>
				</dict>
				<dict>
					<key>from</key>
					<string>^http://lenovo\.com/</string>
					<key>to</key>
					<string>https://www.lenovo.com/</string>
				</dict>
				<dict>
					<key>from</key>
					<string>^http://forum\.lenovo\.com/</string>
					<key>to</key>
					<string>https://forums.lenovo.com/</string>
				</dict>
				<dict>
					<key>from</key>
					<string>^http:///shop\.lenovo\.com/us/?$</string>
					<key>to</key>
					<string>https://www.lenovo.com/us/en/?redir=y&amp;redirsrc=1</string>
				</dict>
				<dict>
					<key>from</key>
					<string>^http://(?:www\.)?lenovovision\.com/.*</string>
					<key>to</key>
					<string>https://www.lenovo.com/</string>
				</dict>
				<dict>
					<key>from</key>
					<string>^http:</string>
					<key>to</key>
					<string>https:</string>
				</dict>
				<dict>
					<key>downgrade</key>
					<string>1</string>
					<key>from</key>
					<string>^https://www\.lenovo\.com/training/</string>
					<key>to</key>
					<string>http://www.lenovo.com/training/</string>
				</dict>
				<dict>
					<key>downgrade</key>
					<string>1</string>
					<key>from</key>
					<string>^https://(blog|consumersupport|news|ovp|www\.partnerinfo|social)\.lenovo\.com/</string>
					<key>to</key>
					<string>http://$1.lenovo.com/</string>
				</dict>
			</array>
			<key>securecookie</key>
			<array>
				<dict>
					<key>host</key>
					<string>\.lenovo\.com$</string>
					<key>name</key>
					<string>VISITORID</string>
				</dict>
				<dict>
					<key>host</key>
					<string>(?:forums|\.?support)\.lenovo\.com$</string>
					<key>name</key>
					<string>.+</string>
				</dict>
			</array>
			<key>target</key>
			<array>
				<dict>
					<key>host</key>
					<string>checkout.lenovo.com</string>
				</dict>
				<dict>
					<key>host</key>
					<string>download.lenovo.com</string>
				</dict>
				<dict>
					<key>host</key>
					<string>forums.lenovo.com</string>
				</dict>
				<dict>
					<key>host</key>
					<string>outlet.lenovo.com</string>
				</dict>
				<dict>
					<key>host</key>
					<string>s.lenovo.com</string>
				</dict>
				<dict>
					<key>host</key>
					<string>support.lenovo.com</string>
				</dict>
				<dict>
					<key>host</key>
					<string>lenovo.co.uk</string>
				</dict>
				<dict>
					<key>host</key>
					<string>www.lenovo.co.uk</string>
				</dict>
				<dict>
					<key>host</key>
					<string>thinkpad.com</string>
				</dict>
				<dict>
					<key>host</key>
					<string>lenovo.com</string>
				</dict>
				<dict>
					<key>host</key>
					<string>forum.lenovo.com</string>
				</dict>
				<dict>
					<key>host</key>
					<string>shop.lenovo.com</string>
				</dict>
				<dict>
					<key>host</key>
					<string>www.lenovo.com</string>
				</dict>
				<dict>
					<key>host</key>
					<string>lenovovision.com</string>
				</dict>
				<dict>
					<key>host</key>
					<string>www.lenovovision.com</string>
				</dict>
				<dict>
					<key>host</key>
					<string>www.thinkpad.com</string>
				</dict>
				<dict>
					<key>host</key>
					<string>blog.lenovo.com</string>
				</dict>
				<dict>
					<key>host</key>
					<string>consumersupport.lenovo.com</string>
				</dict>
				<dict>
					<key>host</key>
					<string>news.lenovo.com</string>
				</dict>
				<dict>
					<key>host</key>
					<string>ovp.lenovo.com</string>
				</dict>
				<dict>
					<key>host</key>
					<string>www.partnerinfo.lenovo.com</string>
				</dict>
				<dict>
					<key>host</key>
					<string>social.lenovo.com</string>
				</dict>
			</array>
			<key>test</key>
			<array>
				<dict>
					<key>url</key>
					<string>http://www.lenovo.com/support/</string>
				</dict>
				<dict>
					<key>url</key>
					<string>http://www.lenovo.com/training/</string>
				</dict>
				<dict>
					<key>url</key>
					<string>http://lenovo.co.uk//</string>
				</dict>
				<dict>
					<key>url</key>
					<string>http://www.lenovo.co.uk/?</string>
				</dict>
				<dict>
					<key>url</key>
					<string>http://www.lenovo.co.uk//</string>
				</dict>
				<dict>
					<key>url</key>
					<string>http://blog.lenovo.com/</string>
				</dict>
				<dict>
					<key>url</key>
					<string>http://consumersupport.lenovo.com</string>
				</dict>
				<dict>
					<key>url</key>
					<string>http://news.lenovo.com</string>
				</dict>
				<dict>
					<key>url</key>
					<string>http://ovp.lenovo.com</string>
				</dict>
				<dict>
					<key>url</key>
					<string>http://www.partnerinfo.lenovo.com</string>
				</dict>
				<dict>
					<key>url</key>
					<string>http://social.lenovo.com</string>
				</dict>
				<dict>
					<key>url</key>
					<string>http://lenovo.com/depotstatus</string>
				</dict>
				<dict>
					<key>url</key>
					<string>http://lenovo.com/depotstatus/</string>
				</dict>
				<dict>
					<key>url</key>
					<string>http://www.lenovo.com/depotstatus</string>
				</dict>
				<dict>
					<key>url</key>
					<string>http://lenovo.com/friendsandfamily</string>
				</dict>
				<dict>
					<key>url</key>
					<string>http://lenovo.com/friendsandfamily/</string>
				</dict>
				<dict>
					<key>url</key>
					<string>http://www.lenovo.com/friendsandfamily/</string>
				</dict>
				<dict>
					<key>url</key>
					<string>http:///shop.lenovo.com/us</string>
				</dict>
				<dict>
					<key>url</key>
					<string>http:///shop.lenovo.com/us/</string>
				</dict>
				<dict>
					<key>url</key>
					<string>http://lenovovision.com/foo</string>
				</dict>
				<dict>
					<key>url</key>
					<string>https://www.lenovo.com/training/</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
